body {
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: fantasy;
  background-color: black;
  text-align: center;
}

.Title {
  font-size: 48px;
  margin-top: 10vh;
}

#Outcome, #Score {
  font-size: 50px;
  margin-top: 5vh;
  margin-bottom: 5vh;
  height: 5vh;
}


.play-buttons {
  margin: auto;
  height: 30vh;
  width: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width:150px;
  height:150px;
}

#resetBtn {
  border-radius: 8px;
  margin-top: 15vh;
  font-size: 20px;
  font-family: fantasy;
  width: 150px;
  height: 60px;
}

.Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  font-size: 24px;
  color:black;
}